@import 'roboto.css';
@import 'material-icons.css';

body {
  max-width: 100vw;
  margin: 0 auto;
}

* {
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }


