   <!-- Sidebar -->
  <div class="border-right is-sidebar bg-blue" id="sidebar-wrapper">
    <div class="sidebar-heading is-sidebar bg-light">
      <a class="navbar-brand is-sidebar" href="http://localhost:8080/#/painel">
        <figure class="image is-sidebar">
          <img class="is-sidebar" id="logo-navbar" src="../..//web/img/logo-agclinic-simbolo.png" alt="">
        </figure>
      </a>  
    </div>

    <div id="info-usuario" class="list-group is-sidebar bg-light">
      <div id="info" class="list-group-item list-group-item-action is-sidebar d-flex flex-column justify-content-center pt-4">
        <h4 class="is-sidebar pb-1" id="nome-usuario">MA</h4>
        <span class="is-sidebar pb-4" id="email-usuario">@</span>
        <img id="foto-usuario" src="https://www.xovi.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" alt="">
      </div>
    </div>

    <div class="list-group bg-blue is-sidebar" id="sidebar-items">
      <a href="#" class="list-group-item list-group-item-action bg-blue is-sidebar sidebar-item">
        <span class="sidebar-icon is-sidebar sidebar-items-icon"><i class="fas fa-solar-panel is-sidebar"></i></span>
        <span class="sidebar-title is-sidebar sidebar-items-title hide pl-5">Painel</span>          
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-blue is-sidebar sidebar-item">
        <span class="sidebar-icon is-sidebar sidebar-items-icon"><i class="fas fa-calendar-alt"></i></span>
        <span class="sidebar-title is-sidebar sidebar-items-title hide pl-5">Agenda</span>        
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-blue is-sidebar sidebar-item">
        <span class="sidebar-icon is-sidebar sidebar-items-icon"><i class="fas fa-user-friends is-sidebar"></i></span>
        <span class="sidebar-title is-sidebar sidebar-items-title hide pl-5">Pacientes</span>          
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-blue is-sidebar sidebar-item">
        <span class="sidebar-icon is-sidebar sidebar-items-icon"><i class="fas fa-user-md"></i></span>
        <span class="sidebar-title is-sidebar sidebar-items-title hide pl-5">Consultas</span>        
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-blue is-sidebar sidebar-item">
        <span class="sidebar-icon is-sidebar sidebar-items-icon"><i class="fas fa-notes-medical is-sidebar"></i></span>
        <span class="sidebar-title is-sidebar sidebar-items-title hide pl-5">Prontuários</span>          
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-blue is-sidebar sidebar-item">
        <span class="sidebar-icon is-sidebar sidebar-items-icon"><i class="fas fa-toolbox"></i></span>
        <span class="sidebar-title is-sidebar sidebar-items-title hide pl-5">Administração</span>        
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-blue is-sidebar sidebar-item">
        <span class="sidebar-icon is-sidebar sidebar-items-icon"><i class="fas fa-cog is-sidebar"></i></span>
        <span class="sidebar-title is-sidebar sidebar-items-title hide pl-5">Configurações</span>          
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-blue is-sidebar sidebar-item">
        <span class="sidebar-icon is-sidebar sidebar-items-icon"><i class="fas fa-question-circle"></i></span>
        <span class="sidebar-title is-sidebar sidebar-items-title hide pl-5">Ajuda</span>        
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->


 
<div class="d-flex" id="wrapper">

 <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav id="navbar-topo" class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue shadow-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item" id="nav-topo-empresa">
            <p class="pr-4"><span class="texto-menor">Empresa:</span><br>Centro Terapeutico Plenitude Sênior</p>
          </li>
          <li class="nav-item">
            <p class="pl-2 pr-4"><span class="texto-menor">Filial:</span><br>Barra</p>
          </li>
        </ul>
      </div>
    
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <p id="direita-primeiro" class="icone-direita px-4"><i class="fa fa-bell" aria-hidden="true"></i></p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <p class="icone-direita pl-2 pr-4"><i class="fa fa-cog" aria-hidden="true"></i></p>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-item nav-link dropdown-toggle" id="nome-usuario-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user icone-direita"></i>  Marcio Alencar
          </a>
          <div class="dropdown-menu dropdown-menu-md-right pt-0" aria-labelledby="bd-versions">
            <a href="#" class="dropdown-item">
              <i class="fa fa-user"></i> Meu Perfil
            </a>
            <div class="dropdown-divider mt-0"></div>
            <a href="#" class="dropdown-item" (click)="solicitaLogout()">
              <i class="fas fa-sign-out-alt"></i> Sair 
            </a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <h1 class="mt-4">Simple Sidebar</h1>
      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->