/* CLASSES DE UTILIDADE */

.bg-blue {
  background-color: #0688c6;
}

.bg-white {
  background-color: white;
}

.sobrepor {
  z-index: 2;
}

.texto-menor {
  font-size: 0.8rem;
}

.bi {
  padding-right: 0px;
  margin-right: 10px;
}

.hide {
  display: none;
}

.button.is-primary {
  background-color: #0688c6;
}

/* INFORMACAO DO USUARIO */
#logo-navbar {
  max-height: 2.1rem;
  width: auto;
}

#info{
  border-radius: 0;
}

#nome-usuario,
#foto-usuario,
#email-usuario {
  margin: 0 auto;
  text-align: center;
}

#nome-usuario,
#email-usuario {
  color: #0688c6;
  text-align: center;
}

#nome-usuario {
  font-weight: 800;
}

#foto-usuario{
  margin: 0 auto -50px auto;
  width: 70px;
  height: auto;
  border: 2px solid white;
  border-radius: 100%;
}

/* ITENS DA SIDEBAR */

#sidebar-wrapper:hover #foto-usuario{
  margin-bottom: -35%;
  width: 150px;
  height: auto;
}

#sidebar-items {
  position: absolute;
  bottom: 0;
  border: none;
}

#sidebar-items a.sidebar-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#sidebar-items .sidebar-items-icon{
  font-size: 2rem;
}

#sidebar-items a.sidebar-item:hover{
  background-color: #1bd16c;
}

#sidebar-wrapper:hover #sidebar-items a.sidebar-item{
  justify-content: flex-start;
}

#sidebar-wrapper:hover #sidebar-items .sidebar-items-icon{
  font-size: 1.4rem;
}

/* NAVBAR */

#navbar-topo {
  padding-top: 0px;
  padding: 0px 16px 0px 16px;
}

#navbar-topo p {
  margin-bottom: 0;
  border-right: 1px solid white;
  color: white;
}

a .icone-direita {
  font-size: 2em;
}

#direita-primeiro {
  border-left: 1px solid white;
}

#nome-usuario-dropdown {
  font-size: 1.2rem;
}

figure {
  margin: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: #1bd16c;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #0688c6;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #0688c6;
}

.dropdown-item {
  color: #0688c6;
  padding-left: 10px;
}

.dropdown-item.active {
  background-color: #0688c6;
  color: white;
}

.dropdown-item:hover {
  background-color: #0688c6;
  color: white;
}


#sidebar-wrapper {
  z-index: 1300;
  position: absolute;
  width: 8vw;
  height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  font-size: 1.2rem;
  width: inherit;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 0px;
  display: flex;
  justify-content: center;
}

#sidebar-wrapper .list-group {
  width: inherit;
  display: flex;
}

.sidebar-icon,
.sidebar-title {
  color: white;
}

#page-content-wrapper {
  min-width: 100vw;
  padding-left: 4vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (max-height: 768px){
  #sidebar-wrapper:hover #foto-usuario{
    margin-bottom: -40%;
    margin-left: auto;
    width: 120px;
    height: auto;
  }

  #foto-usuario{
    margin: 0px auto -40px 0px;
  }

  #sidebar-wrapper:hover #sidebar-items a.sidebar-item{
    padding: .5rem;
  }

  #sidebar-items a.sidebar-item{
    padding: .5rem;
  }

  #sidebar-items .sidebar-items-icon{
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

